<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - PruebaFacturacionCalculosDinamicsJQueryMvcNet8</title>
@*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
 *@    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PruebaFacturacionCalculosDinamicsJQueryMvcNet8.styles.css" asp-append-version="true" />
    </head>
    <body>
        <header>
        <!-- Navbar -->
        <nav class="navbar">
            <div class="container">
                <ul class="nav-links">
                    <li>
                        <a asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li>
                        <a asp-action="Privacy" asp-controller="Home">Privacy</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Factura">Facturas</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Frontend">Pruebas jQuery</a>
                    </li>
                </ul>
        </div>
        </header>
        <div class="main-content">
            <main role="main" >
                @RenderBody()
            </main>
        </div>
        <footer class="footer">
            <div class="container">
                &copy; 2024 - Prueba de facturación en MVC - <a asp-area="" asp-action="Privacy" asp-controller="Home">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js" ></script>
        <script src="~/lib//bootstrap/dist/js//bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html>